<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="css/game.css " />
    <link rel="stylesheet" href="css/game_news.css " />
    <link rel="stylesheet" href="css/game__top.css" />
    <link rel="stylesheet" href="css/game__gift.css" />
    <script src="js/game.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
<section class="game__top">
    <!-- Swiper -->
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="https://pokemonkorea.co.kr/2025_M8">
                    <article class="game__top__cover">
                        <div class="game__top__album">
                            <img
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/12/2024-12-02_09-35-32-79746-1733099732.png"
                                    alt=""
                            />
                        </div>
                        <div class="game__top__info">
                            <h2 class="game__top__tit">
                                「극장판 포켓몬스터 AG: 뮤와 파동의 용사 루카리오」2025년
                                1월 개봉 예정
                                <img
                                        src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                        alt=""
                                />
                            </h2>
                        </div>
                    </article>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="https://pokemonkorea.co.kr/2025_M8">
                    <article class="game__top__cover">
                        <div class="game__top__album">
                            <img
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/12/2024-12-02_09-35-32-79746-1733099732.png"
                                    alt=""
                            />
                        </div>
                        <div class="game__top__info">
                            <h2 class="game__top__tit">
                                「극장판 포켓몬스터 AG: 뮤와 파동의 용사 루카리오」2025년
                                1월 개봉 예정
                                <img
                                        src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                        alt=""
                                />
                            </h2>
                        </div>
                    </article>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="https://pokemonkorea.co.kr/2025_M8">
                    <article class="game__top__cover">
                        <div class="game__top__album">
                            <img
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/12/2024-12-02_09-35-32-79746-1733099732.png"
                                    alt=""
                            />
                        </div>
                        <div class="game__top__info">
                            <h2 class="game__top__tit">
                                「극장판 포켓몬스터 AG: 뮤와 파동의 용사 루카리오」2025년
                                1월 개봉 예정
                                <img
                                        src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                        alt=""
                                />
                            </h2>
                        </div>
                    </article>
                </a>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
<main class="container">
    <a href="https://pokemonkorea.co.kr/game/view/13681" class="game__series">
        <ul class="game__list">
            <li class="li__list">
                <div class="album">
                    <img
                            src="	https://data1.pokemonkorea.co.kr/newdata/2023/10/2023-10-19_17-21-56-62775-1697703716.png"
                    />
                </div>
                <div class="game__bot_text">
                    <h3 class="game__title">
                        포켓몬스터스칼렛・바이올렛 제로의 비보
                    </h3>
                    <p class="test__mute">포켓몬게임 시리즈</p>
                </div>
            </li>
        </ul>
    </a>

    <a href="#">
        <div class="more">
            <span class="more__text">더보기</span>
        </div>
    </a>

    <section class="game__gift">
        <h2>지금 선물중인 포켓몬&도구</h2>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <article class="game__gift__swiper">
                        <a href="">
                            <img
                                    src="https://data1.pokemonkorea.co.kr/newdata/2022/11/2022-11-04_13-45-06-69002-1667537106.png"
                                    alt=""
                            />
                            <div class="game__gift__info">
                                <span class="info__tit">지금 선물중인 도구</span>
                                <span class="info__sub">몬스터볼 100개</span>
                            </div>
                    </article>
                    </a>
                </div>
                <div class="swiper-slide">
                    <article class="game__gift__swiper">
                        <a href="">
                            <img src="https://data1.pokemonkorea.co.kr/newdata/2022/11/2022-11-09_10-48-33-97360-1667958513.png" alt="">
                            <div class="game__gift__info">
                                <span class="info__tit">지금 선물중인 도구</span>
                                <span class="info__sub">스마트로토무 커버</span>
                            </div>
                    </article>
                    </a>
                </div>
                <div class="swiper-slide">
                    <article class="game__gift__swiper">
                        <a href="">
                            <img
                                    src="https://data1.pokemonkorea.co.kr/newdata/2022/11/2022-11-04_13-45-06-69002-1667537106.png"
                                    alt=""
                            />
                            <div class="game__gift__info">
                                <span class="info__tit">지금 선물중인 도구</span>
                                <span class="info__sub">몬스터볼 100개</span>
                            </div>
                    </article>
                    </a>
                </div>
                <div class="swiper-slide">
                    <article class="game__gift__swiper">
                        <a href="">
                            <img src="https://data1.pokemonkorea.co.kr/newdata/2022/11/2022-11-09_10-48-33-97360-1667958513.png" alt="">
                            <div class="game__gift__info">
                                <span class="info__tit">지금 선물중인 도구</span>
                                <span class="info__sub">스마트로토무 커버</span>
                            </div>
                    </article>
                    </a>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>

    <div class="game__news">
        <a href="#">
            <ul class="news__game__list">
                <li class="game__li__list">
                    <div class="news__album">
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/10/2024-10-18_14-26-14-24714-1729229174.png"
                        />
                    </div>
                    <div class="card__text">
                        <h3 class="card__title">
                            게임도감을 완성하고 색이 다른 「메로엣타」를 손에 넣자!
                        </h3>
                        <div class="card__sub">
                            <p class="card__sub__date">2024년 10월 18일</p>
                        </div>
                        <div class="round__go">
                            <img
                                    src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                    alt=""
                            />
                        </div>
                    </div>
                </li>
            </ul>
        </a>
        <a href="#">
            <div class="news__more">
                <span class="news__more__text">더보기</span>
            </div>
        </a>
    </div>
</main>
</body>
</html>
