<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/game.css ">
    <link rel="stylesheet" href="css/game_news.css ">
</head>
<body>
<main class="container">
    <a href="https://pokemonkorea.co.kr/game/view/13681" class="game__series">
        <ul class="game__list" >
            <li class="li__list">
                <div class="album">
                    <img src="	https://data1.pokemonkorea.co.kr/newdata/2023/10/2023-10-19_17-21-56-62775-1697703716.png">
                </div>
                <div class="game__bot_text">
                    <h3 class="game__title">포켓몬스터스칼렛・바이올렛 제로의 비보</h3>
                    <p class="test__mute">포켓몬게임 시리즈</p>
                </div></li>

        </ul>
    </a>

    <a href="#">
        <div class="more">
            <span class="more__text">더보기</span>
        </div>
    </a>


    <div class="game__news">
        <a href="#">
            <ul class="news__game__list">
                <li class="game__li__list">
                    <div class="news__album">
                        <img src="https://data1.pokemonkorea.co.kr/newdata/2024/10/2024-10-18_14-26-14-24714-1729229174.png">
                    </div>
                    <div class="card__text">
                        <h3 class="card__title">게임도감을 완성하고 색이 다른 「메로엣타」를 손에 넣자!</h3>
                        <div class="card__sub">
                            <p class="card__sub__date">2024년 10월 18일</p>
                        </div>
                        <div class="round__go">
                            <img src="https://pokemonkorea.co.kr/img/icon/icon_go.png" alt="">

                        </div>
                    </div>
                </li>

            </ul>
        </a>
        <a href="#">
            <div class="news__more">
                <span class="news__more__text">더보기</span>
            </div>
        </a>
    </div>
</main>
</body>
</html>
game.html