<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{front/layouts/main}">
    <main layout:fragment="content">
        <section class="swiper__container">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <article class="main__swiper">
                            <img
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/12/2024-12-20_15-27-47-59212-1734676067.jpg"
                                    alt=""
                            />
                        </article>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
        <section class="card__list">
            <article class="card__container" th:each="mainList : ${mainList}">
                <a th:href="${mainList.pageUrl}">
                    <div class="crad__info">
                        <div class="card__album">
                            <img
                                    th:src="${mainList.imageUrl}"
                                    alt=""
                            />
                        </div>
                        <div class="card__under">
                            <div class="card__under__info">
                                <span th:text="${mainList.title}">업데이트 데이터(Ver.3.0.1)</span>
                                <button th:text="${mainList.sub_title}" class="card__btn">게임</button>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </section>
        <section class="new__list">
            <h2>새로운 소식</h2>
            <div class="new__container">
                <a th:each="mainList : ${mainList}" th:href="${mainList.pageUrl}">
                    <article class="new__card">
                        <div class="new__card__album">
                            <img
                                    th:src="${mainList.imageUrl}"
                                    alt=""
                            />
                        </div>
                        <div class="new__card_container">
                            <div class="new__card__info">
                                <div class="new__upper">
                                    <p th:text="${mainList.title}">2025 코리안리그 시즌2 개최!</p>
                                </div>
                                <div class="news__card__under">
                                    <p th:text="${mainList.sub_title}" >카드 게임 | 2024년 12월 12일</p>
                                    <button class="nuw__btn">
                                        <img
                                                src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                                alt=""
                                        />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </div>
            <div class="new__more">
                <a href="https://pokemonkorea.co.kr/news">
                    <div class="new__more__text">더보기</div>
                    <div class="new__more__image">
                        <img src="https://pokemonkorea.co.kr/img/icon/icon_more.png" />
                    </div>
                </a>
            </div>
        </section>
        <section class="new__video">
            <h2>새로운 영상</h2>
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <article class="new__video__swiper">
                            <iframe
                                    width="560"
                                    height="315"
                                    src="https://www.youtube.com/embed/eJWz1Wr7lEM?si=6cPI2uAH5aY4oJlY"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin"
                                    allowfullscreen
                            ></iframe>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="new__video__swiper">
                            <iframe
                                    width="560"
                                    height="315"
                                    src="https://www.youtube.com/embed/eJWz1Wr7lEM?si=6cPI2uAH5aY4oJlY"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin"
                                    allowfullscreen
                            ></iframe>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="new__video__swiper">
                            <iframe
                                    width="560"
                                    height="315"
                                    src="https://www.youtube.com/embed/eJWz1Wr7lEM?si=6cPI2uAH5aY4oJlY"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin"
                                    allowfullscreen
                            ></iframe>
                        </article>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
        <section class="main__game">
            <div class="main__game__container">
                <div class="main__game__left">
                    <img
                            th:src="{mainList.gamelmage}"
                            alt=""
                    />
                </div>
                <div class="main_game__right">
                    <h2>게임</h2>
                    <div class="main__game__card__list">
                        <a th:each="mainList : ${mainList}" href="https://pokemonkorea.co.kr/pokemon_tcg_pocket">
                            <article class="main__game__card">
                                <div class="main__game__album">
                                    <img
                                            src="https://data1.pokemonkorea.co.kr/newdata/2024/10/2024-10-30_11-52-38-76676-1730256758.png"
                                            alt=""
                                    />
                                </div>
                                <div class="main__game__info">
                                    <div class="main__game__info__inner">
                                        <span>「포켓몬 카드 게임 Pocket」 절찬 배포 중! </span>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="card__game">
            <h2>카드 게임</h2>
            <div class="card__game__container">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="card__game__content">
                                <div class="card__game__album">
                                    <img
                                            src="https://data1.pokemonkorea.co.kr/newdata/2024/09/2024-09-09_09-22-09-62411-1725841329.png"
                                            alt=""
                                    />
                                </div>
                                <div class="card__game__info">
                                    <h3 class="card__game__tit">
                                        다채로운 에너지로 기술을 구사해보자!
                                    </h3>
                                    <p class="card__game__sub">
                                        포켓몬 카드 게임 확장팩 「변환의 가면」 9월 대발매!
                                    </p>
                                    <div class="card__game_more">
                                        <a href="https://pokemonkorea.co.kr/news">
                                            <div class="new__more__text">더보기</div>
                                            <div class="card__game_more__image">
                                                <img
                                                        src="https://pokemonkorea.co.kr/img/icon/icon_more.png"
                                                />
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="card__game__content">
                                <div class="card__game__album">
                                    <img
                                            src="https://data1.pokemonkorea.co.kr/newdata/2024/09/2024-09-09_09-22-09-62411-1725841329.png"
                                            alt=""
                                    />
                                </div>
                                <div class="card__game__info">
                                    <h3 class="card__game__tit">
                                        다채로운 에너지로 기술을 구사해보자!
                                    </h3>
                                    <p class="card__game__sub">
                                        포켓몬 카드 게임 확장팩 「변환의 가면」 9월 대발매!
                                    </p>
                                    <div class="card__game_more">
                                        <a href="https://pokemonkorea.co.kr/news">
                                            <div class="new__more__text">더보기</div>
                                            <div class="card__game_more__image">
                                                <img
                                                        src="https://pokemonkorea.co.kr/img/icon/icon_more.png"
                                                />
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="card__game__content">
                                <div class="card__game__album">
                                    <img
                                            src="https://data1.pokemonkorea.co.kr/newdata/2024/09/2024-09-09_09-22-09-62411-1725841329.png"
                                            alt=""
                                    />
                                </div>
                                <div class="card__game__info">
                                    <h3 class="card__game__tit">
                                        다채로운 에너지로 기술을 구사해보자!
                                    </h3>
                                    <p class="card__game__sub">
                                        포켓몬 카드 게임 확장팩 「변환의 가면」 9월 대발매!
                                    </p>
                                    <div class="card__game_more">
                                        <a href="https://pokemonkorea.co.kr/news">
                                            <div class="new__more__text">더보기</div>
                                            <div class="card__game_more__image">
                                                <img
                                                        src="https://pokemonkorea.co.kr/img/icon/icon_more.png"
                                                />
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <a
                    href="https://pokemonkorea.co.kr/card_vending_machine"
                    class="card__game__banner"
            >
                <img
                        src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_01-22-45-31389-1599236565.png"
                        alt=""
                />
            </a>
        </section>
        <section class="main__product">
            <h2>상품</h2>
            <div class="main__product__container">
                <div class="main__product__left">
                    <div class="main__product__tit">
                        <h3>온라인 스토어</h3>
                        <a href="https://www.pokemonstore.co.kr/"
                        >MORE
                            <img
                                    src="https://pokemonkorea.co.kr/img/icon/icon_more.png"
                                    alt=""
                            />
                        </a>
                    </div>
                    <article class="main__product__content">
                        <a
                                href="https://pokemonstore.co.kr/pages/product/view.html?productNo=123486536&preview=true"
                        >
                            <div class="main__product__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/10/2024-10-17_17-24-07-17384-1729153447.png"
                                        alt=""
                                />
                            </div>
                            <div class="main__product__info">
                                <span>포켓몬 스토어 「팬텀」 키캡</span>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="main__product__right">
                    <div class="main__product__tit">
                        <h3>라이선스 상품</h3>
                        <a href="https://pokemonkorea.co.kr/goods"
                        >MORE
                            <img
                                    src="https://pokemonkorea.co.kr/img/icon/icon_more.png"
                                    alt=""
                            />
                        </a>
                    </div>
                    <article class="main__product__content">
                        <a
                                href="https://pokemonstore.co.kr/pages/product/view.html?productNo=123486536&preview=true"
                        >
                            <div class="main__product__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/10/2024-10-17_17-24-07-17384-1729153447.png"
                                        alt=""
                                />
                            </div>
                            <div class="main__product__info">
                                <span>포켓몬 스토어 「팬텀」 키캡</span>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </section>
        <section class="main__animation">
            <h2>애니메이션</h2>
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <article class="main__animation__swiper">
                            <div class="main__animation__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-20_15-01-23-30520-1732082483.png"
                                        alt=""
                                        class="img-fluid"
                                />
                            </div>
                            <h3>「TV 애니메이션 포켓몬스터」테라스탈 데뷔 절찬 방영 중</h3>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="main__animation__swiper">
                            <div class="main__animation__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-20_15-01-23-30520-1732082483.png"
                                        alt=""
                                        class="img-fluid"
                                />
                            </div>
                            <h3>「TV 애니메이션 포켓몬스터」테라스탈 데뷔 절찬 방영 중</h3>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="main__animation__swiper">
                            <div class="main__animation__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-20_15-01-23-30520-1732082483.png"
                                        alt=""
                                        class="img-fluid"
                                />
                            </div>
                            <h3>「TV 애니메이션 포켓몬스터」테라스탈 데뷔 절찬 방영 중</h3>
                        </article>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
        <section class="main__under">
            <div class="overlay"></div>
            <div class="main__under__container">
                <a href="https://pokemonkorea.co.kr/pokemon-unite">
                    <article class="main__nuder__card">
                        <div class="main__under__album">
                            <img
                                    src="https://data1.pokemonkorea.co.kr/newdata/2021/08/2021-08-23_13-11-29-34893-1629691889.png"
                                    alt=""
                            />
                        </div>
                        <div class="main__under__info">
                            <button>게임</button>
                            <span>「 Pokémon UNITE」</span>
                        </div>
                    </article>
                </a>
            </div>
        </section>
    </main>
</html>