.card__game {
  width: 100vw;
}

.card__game > h2 {
  margin: 0 0 100px;
  padding-top: 60px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.card__game__container {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  width: 1248px;
  height: 404px;
}

.card__game__content {
  display: flex;

  justify-content: center;
  gap: 100px;

  width: 100%;
  height: 100%;
}

.card__game__album {
  width: 506px;
  height: 300px;
}

.card__game__album > img {
  width: 100%;
  height: 100%;
}

.card__game__info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 331px;
  height: 304px;
  word-wrap: break-word; /* 긴 단어를 자동으로 줄바꿈 */
  white-space: normal; /* 줄바꿈 기본값 */
}

.card__game__tit {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
}

.card__game__sub {
  margin: 10px 0 60px 0;
  line-height: 1.5;
}

.card__game_more {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 212px;
  height: 55px;

  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to left, #55bcb5, #85c083, #bec449, #f7c90e);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 4px solid transparent;

  margin: 0 auto;

  background-color: white;
  transform: skew(-20deg);
}

.card__game_more__image {
  width: 10px;
  height: 18px;

  position: absolute;
  top: 14px;
  right: 35px;

  transform: skew(20deg);
}

.card__game__banner {
  width: 1248px;
  height: 162px;

  margin-top: 30px;
}

.card__game__banner > img {
  width: 100%;
  height: 100%;
}
